extends ../layouts/default

block content
    .container: .jumbotron
        p Välkommen till mitt galleri. 
        | Jag er en bildekunstner som fokuserar på landskap og portreter.
        | Her finner du mina målinger og kommande utstillinger.			
        hr
        |   Atelje Awesome Bleikerveien 67 076 - 123 123
